/date/nbproject/private/
/date/build/
/people/nbproject/private/
/people/build/
/curso/nbproject/private/
/curso/build/
/JavaApplication39/nbproject/private/
/Guia9_extra/nbproject/private/
/Guia9_extra/build/
/Game/nbproject/private/
/Game/build/
/backendUnoIntegrador/nbproject/private/
/backendUnoIntegrador/build/
/ProgramaRazasPerros/nbproject/private/
/ProgramaRazasPerros/build/
/ProgramaAlumnos/nbproject/private/
/ProgramaAlumnos/build/
/adoptarperro/nbproject/private/
/ProgramaAdopcion/nbproject/private/
/ProgramaAdopcion/build/
/CineApp/nbproject/private/
/CineApp/build/
/SegurosApp/nbproject/private/
/SegurosApp/build/
/VotacionFacilitadoresEgg/nbproject/private/
/VotacionFacilitadoresEgg/build/
/guiaHerencia/nbproject/private/
/guiaHerencia/build/
/guiaHerencia2/nbproject/private/
/guiaHerencia2/build/